@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: black !important;
  color: white !important;
}
input, button, p, span, label, h1, h2, h3 {
  color: black !important;
}



